* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container-lg{
    max-width: 1270px !important;
    margin: 0;
    padding: 0;
}


.logo {
    width: 100px;
    border-radius: 40px;
    margin-top: 10px;
}

#navbarDropdown {
    color: white;
    cursor: pointer;
}

.nav-link {
    font-size: 14px !important;
    padding: 4px;
}
