* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1270px;
}


.logo {
    max-width: 100px;
}
/*----------list-group----------*/
.list-group{
    display: flex;
    position: sticky;
    float: right;
}

.list-group{
    text-align: center;
}
h6{
    border-top: solid 1px #dee2e6;
    border-bottom: solid 1px #dee2e6;
    font-weight: 500;
    line-height: 1.6;
    padding: 3px;
}

.list-group{
    margin-top: 20px;
    
}
/*----------*/
